@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global variables */
  :root {
    /* Size variables */
    --header-height: 3.25rem;
    --view-height: 97.5dvh;

    @media (min-width: 768px) {
      --view-height: calc(95dvh - var(--header-height));
    }

    /* Main colors */
    --main-rgb: 118 67 229;
    --main-light-rgb: 131 98 203;
    --main-dark-rgb: 24 5 66;

    /* 
      --main-rgb: 5 150 105;
      --main-light-rgb: 52 211 153;
      --main-dark-rgb: 6 78 59; 
    */
  }

  .shadow-button {
    --tw-shadow: 0px 0px 28px 7px rgb(var(--main-dark-rgb) / 0.5);
    --tw-shadow-colored: 0px 0px 28px 7px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .italic {
    font-family: ui-sans-serif, system-ui, sans-serif;
  }

  /* Global light variables */
  :root {
    --background: #efefef;
    --foreground: #171717;

    --background-rgb: 239 239 239;
    --foreground-rgb: 23 23 23;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;

    --scrollbar: 0 0% 48%;
  }

  /* Global dark variables */
  [data-theme='dark'] {
    --background: #1f1f1f;
    --foreground: #ededed;

    --background-rgb: 31 31 31;
    --foreground-rgb: 237 237 237;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;

    --scrollbar: 0 0% 98%;
  }

  /* Default styling */
  * {
    box-sizing: border-box;
    border-color: hsl(var(--border));
  }

  html {
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
    font-synthesis: none;

    background-color: var(--background);
    color: var(--foreground);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--scrollbar) / 25%);
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--scrollbar) / 45%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--scrollbar) / 85%);
  }

  /* Set Container */
  .grid-container {
    @apply grid grid-cols-12;
  }

  .grid-child {
    @apply col-span-12 col-start-1 lg:col-span-8 lg:col-start-3;
  }

  /* Theme Icon Active */
  .sun-icon {
    opacity: 0;
    pointer-events: none;
  }

  .moon-icon {
    opacity: 0;
    pointer-events: none;
  }

  [data-theme='light'] .sun-icon {
    opacity: 1;
    pointer-events: auto;
  }

  [data-theme='light'] .desktop-icon {
    opacity: 0;
    pointer-events: none;
  }

  [data-theme='dark'] .moon-icon {
    opacity: 1;
    pointer-events: auto;
  }

  [data-theme='dark'] .desktop-icon {
    opacity: 0;
    pointer-events: none;
  }
}
